<div class="session-view">
 <div class="session-content">

  <h2>sign_up</h2>

  <%= form_with model: @user, url: user_registration_path, class: "new_user", local: true do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>

   <div class="e-mail-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
   </div>

   <div class="password-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以下では登録できません)</em>
        <% end %><br />
    <%= f.password_field :password, autocomplete: "off"%>
   </div>

   <div class="password-confirmation-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
   </div>

   <div class="action-button">
    <%= f.submit "Sign up" %>
   </div>
  <% end %>
 </div> 
</div>
  
