<div class="session-view">
 <div class="session-content">

  <h2 class="new">ログイン</h2>

  <%= form_with model: @user, url: user_session_path, class: "new_user", local: true do |f| %>

   <div class="e-mail-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
   </div>

   <div class="password-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
   </div>

   <div class="action-button">
    <%= f.submit "ログイン" %>
   </div>
  <% end %>
 </div> 
</div>
  

