<div class="show-item">
 <div class="show-item-name">
  <%= "《  #{@item.name}  》" %>
 </div>

 <% if @item.image.present?%>
  <%= image_tag @item.image ,id:"show-image" %>
 <% end %>

<div class="show-genre">
 <div class="show-genre-name">
  【ジャンル名】:
  <%= @item.genre.name %>
 </div>
 <div class="show-genre-area">
  【ジャンル番号】:
  <%= @item.genre.area %>
 </div>
</div>

 <div class="show-area-info">
  【陳列場所】
 </div>

 <div class="show-area">
  <%= @item.area %>
 </div>

<% if user_signed_in? && current_user.id == @item.user.id %>
 <div class="item-change">
  <div class="item-edit">
   <%=link_to "品物情報を変更する", edit_item_path ,id:"edit"%>
  </div>

 <div class="item-destroy">
  <%= link_to "品物情報を削除する", item_path, method: :delete,id:"destroy" %>
 </div>
</div>
<% end %>

</div>


<div class="comments-area">
 <% if user_signed_in? %>
   <div class="comment-form">
    <%= form_with(model: [@item,@comment], local: true) do |form|%>
     <%= form.text_area :text, placeholder: "コメントする", rows: "2"%>
     <%= form.submit "投稿する"%>
    <% end %>
   </div>
 <% else %>
   <%= "※コメントするにはログインが必要です。"%>
 <% end %>

  <div class="comment-box">
  <% @comments.each do |comment| %> 

   <div class="comments">
    <div class="comment-name">
     <%= "#{comment.user.nickname}："%>
    </div>
    <div class="comment-text">
     <%= comment.text%>
    </div>
   </div>
 
  <% end %>

 <%if @comments.size == 0 %>
  <div class="comment-info">
   <%= "※コメントが表示されます。"%>
  </div>
 <% end %>
  </div>

</div>


